<!DOCTYPE html>
<!--[if IE 8]>
    <html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Admin | Emperor Imports - Powered by WhipPress</title>
    <link rel='stylesheet' id='login-css' href='/Content/css/admin/admin.css?ver=4.2.7' type='text/css' media='all' />
    <meta name='robots' content='noindex,follow' />
    </head>
<body class="login login-action-login wp-core-ui locale-en-us">
    @RenderBody()
</body>
</html>
