@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@section meta{
    <title>Emperor Imports - Credits</title>
}

Penguin by Catherine Please from <a href="https://thenounproject.com/" target="_blank" rel="nofollow">the Noun Project</a>

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>