@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@section meta{
    <title>Emperor Imports - Credits</title>
}

Penguin by Catherine Please from <a href="https://thenounproject.com/" target="_blank" rel="nofollow">the Noun Project</a>
Slogans via <a href="https://gospaces.com/tools/slogan-maker" target="_blank" rel="nofollow">slogan generator</a>
Software-updated installed locked by <a href="https://openclipart.org/detail/212272/softwareupdate-installed-locked" target="_blank" rel="nofollow">sixsixfive</a>
Padlock by <a href="https://openclipart.org/detail/17931/padlock"  target="_blank" rel="nofollow">AJ</a>
Testimonials via <a href="http://testimonial-generator.com/index.php" target="_blank" rel="nofollow">Testimonial Generator</a>

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>