@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@section meta{
    <title>Emperor Imports</title>
}

<h2>With a name like Emperor imports, it has to be good.</h2>
<h2>Emperor imports - It Looks Good on You.</h2>
<h2>hhmmmmm... Emperor imports.</h2>
<h2>Emperor imports one size fits all.</h2>

<h3>Testimonial</h3>

<blockquote>
    <p>"I would be lost without Emperor Imports."</p>
    <footer>- <cite>Geraldine I.</cite></footer>
</blockquote>

<blockquote>
    <p>"Not able to tell you how happy I am with Emperor Imports."</p>
    <footer>- <cite>Austin M.</cite></footer>
</blockquote>



@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
